
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 html, body,main{
    height: 100%;
    width: 100%;
}
#about{
    gap: 1px;
    height: 100%;
    width: 100%;
    /* background-color: rgba(38, 72, 86); */
    background-color: #313944;
   
 }
 .content_header{
    height: 30%;
    width: 100%;
    padding: 6%;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.76);
 }
 .content_header span{ 
  font-size: 1.5rem;
 }
 .content_header h2{
    font-size: 3.2rem;
    font-family:' Headland One';
    letter-spacing: 1px;
 } 
 
 .about_main{
    height: 70%;
    width: 100%;
    display: flex;
    position: relative;
    padding:1.5%;
    gap: 15px;
    box-shadow: 0 4px 8px 0 rgba(132, 115, 115, 0.449), 0 6px 20px 0 rgba(0, 0, 0, 0.838);   
 }
 
 
 .content_logo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgba(38, 145, 154, 0.452);
    padding: 3%;
    box-shadow: 0 8px 8px 0 #3C3D37, 0 6px 20px 0 #3C3D37;
    animation: about_main_anime 3s linear ;
    animation-timeline: view();
    animation-range: entry 0 cover 40%; 
    background-color: rgba(231, 238, 245, 0.884);
    
 }
 .content_logo:hover{
    /* background-color:rgb(38, 72, 86) ; */
    background-color: #31394493;
   /* background-color: #7fffd4; */
    transition: ease-in 0.2s;
    animation: card 0.2s forwards;
    color: white;
 }
 @keyframes card {
    from  {
      opacity: 0;
      transform: translatey(0);
    
    }
    to{
       opacity: 1;
       transform: translatey(-12px);
    }
    
 }
 @keyframes about_main_anime {
    from  {
      opacity: 0;
      transform: translatey(-80px);
    
    }
    to{
       opacity: 1;
       transform: translatey(0px);
    }
    
 }
 .content_logo img{
    width: 45%;
    height: 30%;
    border: 3px solid rgba(73, 59, 59, 0.948);
    object-fit: cover;
    background-color: #ebe8e6f9;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(34, 33, 33, 0.218), 0 6px 20px 0 rgba(62, 59, 59, 0.377);
    background-position: center;
  
 }
 .content_text{
    margin-top: 5%;
 }
 .content_text h2{
    text-align: center;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    letter-spacing: 1px;
 }
 .content_text p{
    font-size: 1.2rem;
    font-family:'Open Sans';
    font-weight: 500;
    text-align: center;
    margin-top:6%;
    height: 100%; 
 
 }
 