*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 html, body,main{
    height: 100%;
    width: 100%;
}
#equipment{
    width: 100%;
    height: 100%;
}
#main_equipment{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.377);
}
.right{
    position: relative;
    height: 100%;
    width: 50%;
    /* border: 3px solid red; */
    display: flex;
    overflow-y: scroll;
}
.right .text_box{
  
    margin-top: 10%;
    padding: 10px;
    height: 85%;
    width: 100%;
    /* border: 3px solid rgb(0, 255, 85); */
   margin-right: 2%;
}
.text_box{
    flex: none;
    position: relative;
    left: 0%;
}
.text_box h3{
    color: #00ffb3f8;
    font-size: 4.6rem;
    font-family: Metal Mania;
    width: 100%;
    height: 40%;
    text-transform: uppercase;
    padding-left: 50px;
    padding-top: 20px;
    /* border: 3px solid blue; */
    letter-spacing: 5px;
}
.text_box p{
    color: white;
    font-size: 1.3rem;
    padding: 0px 50px;
    padding-right: 20%;
    text-align: left;
    /* border: 3px solid red; */
    height: 40%;

}
.right::-webkit-scrollbar{
    display: none;
}


.left{
    position: absolute;
    right: 10%;
    height: 100%;
    width: 40%;
    /* border: 3px solid red; */
    display: flex;
    overflow-y: scroll;
}

.left .text_box{
    width: 100%;
    height: 70%;
    margin-right: 0%;
    margin-top: 15%;
}

.left img{
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.left::-webkit-scrollbar{
    display: none;
}




#right_arrow{
    position: absolute;
    width: 3%;
    height: 5%;
    padding: 15px auto;
    border-radius: 50px;
    background-color: #FFB200 ;
    transform: rotate(180deg);
    bottom: 10%;
    right: 25%;
    cursor: pointer;
    z-index: 1;
}
#left_arrow{
    position: absolute;
    width: 3%;
    height: 5%;
    background-color: #FFB200 ;
    padding: 15px auto;
    border-radius: 50px;
    margin-right: 3%;
    bottom: 10%;
    cursor: pointer;
    z-index: 1;
    right: 26%;
    
}
.left .text_box,
.right .text_box {
  transition: transform 0.5s ease-in-out; /* Smooth slide animation */
  position: absolute; /* Ensure slides overlap each other */
  width: 100%; /* Take full width of the container */
}
