
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 html, body,main{
    height: 100%;
    width: 100%;
}
#home{
   width: 100%;
   height: 100%;
   gap: 1px;
}
/* ********  starting nav bar  */
#nav{
   position: fixed;
   width: 100%;
   height: 12%;
   overflow: hidden;
   background-color: rgb(38, 72, 86)   ;
   border-bottom: 2px solid black;
   display: flex;
   align-items: center;
   gap:1px;
  z-index: 1;
  
}

.navbar ul{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
   gap: 10vh;
   margin-right: 3vh;
   padding-right:  2vh;
   
   
}
.navbar ul li {
   width: 11%;
   text-align: center;
   padding: 1%;
   list-style: none;
}
.navbar ul li a{
   color:white; 
   text-decoration: none;
   font-size: 1.3em;
   letter-spacing: 1px;
   font-weight: 500;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: center;
   
}
.navbar ul li:hover{
   transition: ease-in 0.2s;
   border: 3px solid #786d62 ;
   border-radius: 10%; 
   cursor: pointer;
   background-color: rgba(37, 31, 31, 0.91);

}
.logo{
   width: 6%;
   background-color: rgba(37, 31, 31, 0.734) ;
   border-radius: 50%;
   background-size: cover;
   margin: 0%;
   padding: 0%;
} 
.logo:hover{
   cursor: pointer;
}

.video{
   width: 100%;
   z-index: -3;

}
/* ******ending of navbar */

/* ******starting of header */
#header{
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;

}


.container{
   width: 60%;
   height: 35%;
   /* border:  3px solid red ; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.overlay{
position:absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
   background-color: rgba(37, 82, 101, 0.678);
}

.sub_container1{
   width: 100%;
   height: 60%;
   /* border: 3px solid black; */
}
.sub_container1 ul  {
   line-height:15vh;
   height: 100%;
   text-align: center;
   overflow: hidden;
}
.sub_container1 ul li{
   list-style: none;
   color: rgba(249, 251, 252, 0.912);
  position: relative;
   top: 0%;
   animation: aslide 6s steps(3) infinite;
}
.sub_container1 li span{
  letter-spacing: 40px;
   font-size: 9rem;
   font-weight: 600;

}
.text{
 color: white;
 padding: 2%;
 line-height: 3.5vh;
text-align: center;
 font-size: 1.2em;
 letter-spacing: 2px;
}


.btn_explore button{
   height: 20% ;
   width: 20%;
   font-size: 1.5rem;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white;
   /* border: 3px solid rgb(116, 68, 36); */
   border-radius: 5%;
   background-color:rgb(37, 31, 31)  ;
   margin-top: 1.5%;
    padding: 2%;
    

}
.btn_explore button:hover{
   cursor: pointer;
   transition: ease-out 0.2s;
   border-radius: 12%;
   background-color: rgba(37, 31, 31, 0.493);
}

@keyframes aslide {
   100% {
      top:-430px;
      
   }
   
}
/* *****ending of header*/

/* *** starting about section */

#about{
   height: 88%;
   width: 100%;
   background-color: rgba(15, 53, 79, 0.301);
}
/* rgba(15, 53, 79, 0.301) */
.content_header{
   height: 20%;
   width: 100%;
   padding: 1%;
   text-align: center;
}
.content_header span{ 
 font-size: 1.5rem;
}
.content_header h2{
   font-size: 3.2rem;
} 

.about_main{
   height: 80%;
   width: 100%;
   /* margin-top: 10%; */
   display: flex;
   position: relative;
   padding:1.5%;
   gap: 15px;
   box-shadow: 0 4px 8px 0 rgba(132, 115, 115, 0.449), 0 6px 20px 0 rgba(0, 0, 0, 0.838);   
   /* background-color: */
}


.content_logo{
   width: 100%;
   height: 98%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 3px solid rgba(38, 145, 154, 0.452);
   padding: 3%;
   box-shadow: 0 8px 8px 0 #3C3D37, 0 6px 20px 0 #3C3D37;
   /* margin-top: 5%; */
   animation: about_main_anime 3s linear ;
   animation-timeline: view();
   animation-range: entry 0 cover 40%; 
   
}
.content_logo:hover{
   /* background-color: rgb(20, 64, 94); */
   background-color:rgb(38, 72, 86) ;
   transition: ease-in 0.2s;
   animation: card 0.2s forwards;
   color: white;
}
@keyframes card {
   from  {
     opacity: 0;
     transform: translatey(0);
   
   }
   to{
      opacity: 1;
      transform: translatey(-10px);
   }
   
}
@keyframes about_main_anime {
   from  {
     opacity: 0;
     transform: translatey(-200px);
   
   }
   to{
      opacity: 1;
      transform: translatey(0px);
   }
   
}
.content_logo img{
   width: 45%;
   height: 30%;
   border: 3px solid rgba(73, 59, 59, 0.948);
   object-fit: cover;
   background-color: #ebe8e6d1;
   border-radius: 50%;
   box-shadow: 0 4px 8px 0 rgba(73, 59, 59, 0.51), 0 6px 20px 0 rgba(0, 0, 0, 0.838);
   background-position: center;
 
}
.content_text{
   margin-top: 5%;
}
.content_text h2{
   text-align: center;
   font-size: 2rem;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 600;
   letter-spacing: 1px;
}
.content_text p{
   /* border: 3px solid red; */
   font-size: 1.2rem;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 500;
   text-align: center;
   margin-top:6%;
   height: 100%; 

}