*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 html, body,main{
    height: 100%;
    width: 100%;
}
#inquiry{
    height: 100%;
    width: 100%;
    background-color: rgb(100, 201, 147);
}
.content_main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    /* background-color: rgb(100, 201, 147); */
    background-color: rgb(38, 72, 86);
}
.inquiry_right{
    height: 100%;
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    /* border: 3px solid blue; */
   /* border-radius:  50% 50% 100% 0% / 0% 0% 100% 100%;  */
}
.right_text{
    width: 100%;
    height: 30%;
    /* border: 3px solid rgb(6, 3, 3); */
    padding-top: 15%;
    

}
.right_text h3 {
    text-align: center;
    font-family: 'Playfair Display';
    color: white;
    font-size: 6rem;
   

}
.right_img{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    background: url(pic/logo.png);
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover;
    border-radius: 50%;
    /* background-color: rgba(37, 31, 31, 0.734) ; */
    background-color: aliceblue;
    box-shadow: 0 10px 20px 0 rgba(73, 59, 59, 0), 0 10px 20px 0 rgba(0, 0, 0, 0.838);
    border: 3px solid rgba(37, 31, 31, 0.734); 
    animation: upside 3s  infinite;
    transition: all 1s;
    /* border: 3px solid rgb(205, 10, 98); */
     /* overflow: hidden; */
}

@keyframes upside {
    0%{
    
      top: 68%;
    
    }
    50%{
       
       top: 65%;
     }
    100%{

        top: 68%;
    }
    
    
 }   
.inquiry_left{
    height: 100%;
    width: 50%;
    /* background-color: #FFA07A ; */
    position: relative;
    padding: 6% 5% 2% 8%;
}
.form-box{ 
    height: 100%;
    width: 80%;
    background-color: rgba(231, 238, 245, 0.884);
    border: 3px solid red;
}
.form-box h3{
    height: 10%;
    width: 100%;
    border: 3px solid rgb(0, 42, 255);
   text-align: center;
   justify-self: end;
   display: flex;
   justify-content: center;
   align-items: end;
    font-size: 3rem;
   /* margin-bottom: 0%; */
}
.box_input{
    height: 90%;
    width: 100%;
    border: 3px solid rgb(15, 236, 67);
    padding: 3%;
    position: relative;
    /* display: flex; */
    /* align-items: center;j\ */
    /* justify-content: center; */
   
}
.input_field{
    height: 70%;
    width: 80%;
    /* border: 1px solid black; */
    border-radius: 16px;
    padding: 3%;
    margin-left: 6%;
    margin-top: 3%;
    /* background-color: rgba(106, 110, 110, 0.675); */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    outline: none;
    color: #666;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}
#btn {
    /* height: %; */
    width: 100%;
    /* display: flex; */
    margin-top: 2%;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 2%; */
    /* border: 3px solid blueviolet; */
}
#btn input{
    padding: 3% 12%;
    margin-left: 7%;
    font-size: 1rem;
}
.demo_page{
    height: 10%;
    margin-top: 5%;
    text-align: right;
    font-weight: 900;
    /* border: 3px solid rgb(20, 215, 193); */
}
.demo_page h5{
    font-size: 0.9em;
}
.demo_page h5 a{
    font-size: 1.2em;
    text-decoration: none;
}