
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 html, body,main{
    height: 100%;
    width: 100%;
}

#home{
   width: 100%;
   height: 100%;
   gap: 1px;
   position: relative;
}
/* ********  starting nav bar  */
#nav{
   position: fixed;
   width: 100%;
   height: 3.85rem;
   overflow: hidden;
   /* background-color: rgb(38, 72, 86)   ; */
   /* background-color: #313944e2; */
   background-color: rgb(32, 29, 29);
   border-bottom: 2px solid black;
   display: flex;
   align-items: center;
   gap:1px;
  z-index: 1;
  
}
.logo{
   width: 6%;
   background-size: cover;
   margin-left: 3%;
   padding: 0%;

} 
.logo:hover{
   cursor: pointer;
} 


.navbar {
   width: 100%;
   display: flex;
   /* border: 3px solid red; */
   margin-left: 43%;
}

.navbar li {
   list-style: none;
   padding: 10px 20px;
   margin-right: 20px;
}

.navbar li a{
   position: relative;
   color:white; 
   text-decoration: none;
   font-size: 1em;
   letter-spacing: 1px;
   font-weight: 500;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
}
.navbar li a::after{
   content: "";
   position: absolute;
   background-color:#FFB200;
   height: 3px;
   width: 0%;
   left: 0;
   bottom: -10px ;
}
.navbar li a:hover::after{
   width: 100%;
}
.material-symbols-outlined{
   color: white;
   margin-left: 30%;
   cursor: pointer;
   /* padding-left: 30%; */
}
.navbutton {
   font-size: 1rem;
   font-family:sans-serif;
   font-weight: 600;
   border-radius: 10px;
   background-color:#FFB200  ;
   margin-left: 1%;
    padding: 0.7em 1.4em ;
    color: black;
   text-decoration: none;

}
.navbutton:hover{
   transition: ease-out 0.2s;
   background-color: black;
   color: white;
}
  
.video{
   width: 100%;
   object-fit: cover;
   position: fixed;
z-index: -9;
}
.overlay{
   position:fixed;  /* header child*/
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
      /* background-color: rgba(37, 82, 101, 0.678); */
       /* background-color: #141512d7; */
       background-color: #201d1da8;
       z-index: -8;
   }
/* ******ending of navbar */


/* ******start of signhup */
#signup{
   position: fixed;
   width: 100%;
   height: 100%;
   /* border: 2px solid white; */
   background-color: #141512e4;

   /* display: none; */
   opacity: 0;
}
#signup_contentbox{
 height: 70%;
 width: 40% ;
 border-radius: 20px;
/* background-color: #ff8c00ca; */
background-color: #ffb300d6;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: black;
   padding: 0% 5%;
}
.signup_field{
   display: flex;
}

.signup_field img{
   width: 15%;
   height: 10%;
   background-color: rgba(0, 0, 0, 0.899);
   border-radius: 50px;
   padding: 15px 15px ;
   border: 5px solid white;
   margin-left: 3%;
}

.signup_field input{
   width: 62%;
   height: 100%;
   font-size: 18px;
   margin-left: 4%;
   margin-top: 2%;
   color: white;
   background-color: rgba(0, 0, 0, 0.859);
   border: 5px solid white;
   border-radius: 20px;
   padding: 12px 20px;
   margin-bottom: 3%;
}
#signup_contentbox h1{
   margin: 3%  0%;
   margin-bottom: 6%;
   font-size: 3rem ;
   text-align: center;
   position: relative;
}
#signup_contentbox h1::before{
   content: "SIGN UP";
   position: absolute;
   top: 49%;
   left: 50%;
   transform: translate(-50%,-50%);
   -webkit-text-stroke: 2px white;
   z-index: -1;
}
#signup_form{
   opacity: 0;
 
}

#login_form{
   position: absolute;
   top: 0%;
   padding: 5% 5%;
   opacity: 1;
  
  
   /* left: 25%; */
   /* transform: translate(-50%,-50%); */
}
#signup_contentbox h2{
   margin: 3%  0%;
   margin-bottom: 6%;
   font-size: 3rem ;
   text-align: center;
   position: relative;
}
#signup_contentbox h2::before{
   content: "LOGIN";
   position: absolute;
   top: 49%;
   left: 50%;
   transform: translate(-50%,-50%);
   -webkit-text-stroke: 2px white;
   z-index: -1;
}
#sign_up_btn{
  width: 50%;
  border: 2px solid black;
  margin-left: 22%;
  margin-top: 3%;
}
#sign_up_btn:hover{
   background-color: black;
   color: white;
   font-weight: 500;
}
#signup_contentbox h5{
   margin-top: 5%;
   font-size: 1.3rem;
   font-weight: 500;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-left: 12%;
   color:white;
}
#signup_contentbox h5 a{
   color: black;
   font-size: 1.5rem;
   font-weight: 600;
   font-family:Georgia, 'Times New Roman', Times, serif;
   cursor: pointer;
}
#signup_contentbox h5 a:hover{
   color:#00ffb3f8 ;
   
}

#register_close_btn {
   font-size: 2.3rem;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   transform: rotate(45deg);
   position: absolute;
   right: 20px;
   cursor: pointer;

}



/* ******starting of header */
#header{
   width: 100%;
   height: 100%;
   /* position: relative; */
   overflow: hidden;
   /* border: 3px solid purple; */

}


.container{
   width: 61%;
   height: 35%;
   /* border:  3px solid red ; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.text{
   width: 80vw;
   /* height: 100vh; */
   /* border: 3px solid  red ; */
 color: white;
 padding: 2%;
 /* font-family: Goblin One;
  */
  font-family: Nosifer;
 /* line-height: 3.5vh; */
text-align: center;
 font-size: 2.9em;
 letter-spacing: 2px;
}
.yellow{
   /* color: yellow;
    */
    font-size: 1.5em;
    font-family:Kablammo;
    color: #FFB200;
}


.btn_explore {
   font-size: 1rem;
   font-family:Frijole;
   font-weight: 600;
   border-radius: 10px;
   background-color:rgba(65, 62, 62, 0.63)  ;
   margin-left: 1%;
   padding: 1.7em 1.4em ;
   color: white;
   text-decoration: none;

}
.btn_explore:hover{
   cursor: pointer;
   transition: ease-out 0.2s;
   background-color: #00ffb3c7;
   color: black;
}
.dropdown {
   display: none;
   position: fixed;
   top: 4rem;
   right: 3%;
   background-color: rgba(0, 0, 0, 0.563);
   padding: 10px 15px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   width: 200px;
   z-index: 10;
   color: white;
}

.dropdown_row {
   display: block;
   margin: 10px 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1rem;
   text-align: center;
   cursor: pointer;   
}
.dropdown span{
   line-height: 27px;
}

.dropdown_row:hover {
   color: white;
   background-color:#FFB200;
   border-radius: 5px;
   padding: 5px 10px;
}


.hidden {
   /* display: none; */
}

