
*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
html, body,main{
   height: 100%;
   width: 100%;
}
#membership{
   height: 100%;
   width: 100%;
   position: relative; 
}

.box-plan{
   height: 100%;
   width: 100%;
   /* border: 5px solid red; */
   display: flex;
   padding: 55px ;
   align-items: center;
   justify-content: center;
   justify-content: space-evenly;
   position: relative;
}
.box{
   height: 100%;
   width: 50%;
   background-color: #141512be;
   /* background-color: #00ffb3f8; */
   padding: 20px 40px ;
   margin-left: 1%;
}
.box h3{
   margin-top: 3%;
   color: #00f8ae;
   font-size: 4rem;
   font-family:monospace;
}

.box ul{
   padding-left: 30px;
   margin-top: 15%;
   color: white;
   font-size: 1.3rem;
   line-height: 2em;
   margin-bottom: 15%;
}
.box .btn_explore{
   color:#FFB200 ;

}
.box .btn_explore:hover{
   color: black;
}

.box h2{
   margin-left: 60%;
   color: #FFB200;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 2.0rem;
   padding: 3px;
   text-decoration: underline;
}
